<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h1><%= @member.name %>さんの詳細</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%#= image_tag @member.profile_image,size: "200x200" %>
    </div>
    <div class="col">
      <table class="table">
        
      </table>
    </div>
  </div>
</div>