<div style="text-align:center; font-size:70px;" class="mt-4 mb-4">
  <h1>
  <i class="fa-solid fa-campground text-success"></i>
  FOUR CAMPの使い方！！
  <i class="fa-solid fa-campground text-success"></i>
  </h1>
</div>

<div style="text-align:center; font-size:20px;" class="h5 mb-3">
  <p class="h4">
    FOUR CAMPはキャンパーのための情報収集サイトです。<br>
    新規登録の後、上部にある<strong class="text-primary">キャンプ場一覧</strong>をクリック。<br>
    <i class="fa-solid fa-angles-down text-info"></i><i class="fa-solid fa-angles-down text-info"></i><br>
    お探しのキャンプ場の<strong class="text-success">県名</strong>とキャンプサイトの<strong class="text-success">種類</strong>を入力して<strong class="text-success">表示</strong>をクリック。<br>
    <i class="fa-solid fa-angles-down text-info"></i><i class="fa-solid fa-angles-down text-info"></i><br>
    条件に合致したキャンプ場が表示されますので、キャンプ場の<strong class="text-primary">名前</strong>をクリック。<br>
    <i class="fa-solid fa-angles-down text-info"></i><i class="fa-solid fa-angles-down text-info"></i><br>
    キャンプ場の詳細な情報を閲覧できます。また、レビュー一覧
  </p>
</div>

<div style="text-align: center;" class="mb-3">
  <%#= image_tag 'about_cake.jpg' %>
</div>

<div style="text-align: center;" class="mt-4 mb-4">
  <h1>
  <i class="fa-solid fa-cake-candles"></i>
  <strong>ご来店もお待ちしています！！</strong>
  <i class="fa-solid fa-cake-candles"></i>
  </h1>
</div>