<div style="height: 655px;">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <h1>※<strong class="text-danger">本当に退会しますか？</strong></h1>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <h3>退会に際しては以下の注意事項をよく読んでから行ってください。</h3>
        <ul class="h3 mt-4">
          <li>退会された場合、レビューの投稿は一切できなくなります。</li>
          <li>マイページの閲覧、編集ができなくなります。</li>
          <li>レビューの編集、削除は一切できなくなります。</li>
          <li>キャンプサイトの検索やレビューの閲覧は可能です。</li>
          <li>今まで投稿されたレビューは削除されませんのでご了承ください。</li>
        </ul>
        <div class="text-center mt-5">
          <%= link_to "退会しない", member_path(current_member), class: "btn btn-primary mr-5" %>
          <%= link_to "退会する", members_out_path(current_member), method: :patch, class:"btn btn-danger ml-5", "data-confirm" => "本当に退会しますか？" %>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>