<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col"></div>
      <div class="col-4">
        <h1>お問い合わせ一覧</h1>
      </div>
    <div class="col">
      <h2>絞り込み表示</h2>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th></th>
          <th>会員名</th>
          <th>件名</th>
          <th>ステータス</th>
        </tr>
        <% @contacts.each do |contact| %>
          <tr class="table-hover">
            <td>会員の写真</td>
            <td>
              <%= contact.member.name %>
            </td>
            <td>
              <%= link_to edit_admin_contact_path(contact) do %>
                <%= contact.subject %>
              <% end %>
            </td>
            <td>
              <%= contact.supported_status %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>