<div style="height: 655px;">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <span class="h1">お問い合わせ一覧</span>
      </div>
      <div class="col" id="contact_search">
        <%= render 'admin/contacts/search' %>
      </div>
    </div>
  </div>

  <div class="container"  id="contacts-list">
    <%= render 'admin/contacts/index', contacts: @contacts %>
  </div>
</div>